<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%logger{40}] - %msg%n</Pattern> -->
            <Pattern>%d{yyyy-MM-dd HH:mm:ss,Asia/Seoul} %-5level [%logger{40}] - %msg%n</Pattern>
        </encoder>
    </appender>
    
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/today.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS,Asia/Seoul} %-7level [%thread] [%logger{40}] - %msg%n</pattern>
        </encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<totalSizeCap>1GB</totalSizeCap>
			<fileNamePattern>log/%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>
	
	<root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>