<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>인덱스 템플릿</title>
		<link rel="stylesheet" href="w3.css">
		<link rel="stylesheet" href="common.css">
		<script src="jq.js"></script>
		<script src="https://kit.fontawesome.com/db65e38582.js"></script>
	</head>
	
	<body>
		<th:block th:replace="fragment/common :: header" />
		
		<main class="w3-clear">
			<th:block th:replace="fragment/common :: lnb" />
			
			<section class="w3-left">
				<p th:if="${sid}">[[${sid}]] 로그인중<i class="fa fa-user"></i></p>
				<form action="loginProc" method="post">
					<input type="hidden" name="id" value="hh">
					<input type="hidden" name="pw" value="hh">
					<button>정상 로그인 테스트</button>
				</form>
				<form action="loginProc" method="post">
					<input type="hidden" name="id" value="hh">
					<input type="hidden" name="pw" value="h">
					<button>실패 로그인 테스트</button>
				</form>
				<form action="loginProc" method="post">
					<input type="hidden" name="id" value="hh">
					<button>유효하지 않은 로그인 테스트</button>
				</form>
				<p>서버의 메시지: [[${msg}]]</p>
			</section>
		</main>
		
		<th:block th:replace="fragment/common :: footer" />
	</body>
	
	<script type="text/javascript">
	function ajax(url, successCb, param, failCb, completeCb) {
		$.ajax({
			url: url,
			data: param,
			success: successCb,
			error: failCb,
			complete: completeCb
		})
	}
	</script>
</html>