<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Medicine Grid</title>
		<link rel="stylesheet" href="/w3.css">
		<link rel="stylesheet" href="/common.css">
		<script src="/jq.js"></script>
		<style type="text/css">
		/* 가로가 800 이하인 경우 적용, 즉 모바일 전용 */
		@media (max-width: 800px) {
			body > header {
				display: none;
			}
			main > aside {
				display: none;
			}
			section > h3 {
				font-size: 36px;
			}
			section > table * {
				font-size: 24px;
			}
			p > input, p > label, input[type=submit], input[type=radio] + label {
				font-size: 36px;
			}
			input[type=checkbox] {
				width: 40px;
				height: 40px;
			}
			input[type=radio] {
				width: 60px;
				height: 60px;
			}
			table.most-plus * {
				font-size: 48px;
			}
		}
		th, td {
			border: 1px solid black;
			padding: 4px;
		}
		form {
			padding: 8px;
		}
		.append-temp {
			display: none;
		}
		td > input {
			width: 100%;
		}
		table.hide {
			display: none !important;
		}
		</style>
	</head>
	
	<body class="w3-light-gray">
		<th:block th:replace="fragment/common :: header" />
		
		<main class="w3-clear">
			<th:block th:replace="fragment/common :: lnb" />
			
			<section class="w3-left w3-padding">
				<h3 class="w3-teal">Medicine</h3>
				
				<h4>New</h4>
				<form action="/medicine/new" method="post">
					<p>
						<input name="name" placeholder="Name" required>
					</p>
					<p>
						<input name="plus" placeholder="+" required type="number">
					</p>
					<p>
						<input name="order" placeholder="Order" required type="number">
					</p>
					<p>
						<input name="without" type="checkbox" id="able-without" value="1">
						<label for="able-without">Without</label>
					</p>
					<p>
						<input name="inside" type="checkbox" id="able-inside" value="1">
						<label for="able-inside">Inside</label>
					</p>
					<input type="submit">
				</form>
				
				<h4>List</h4>
				<p>
					<input type="radio" id="order-by-normal" name="order-by" checked value="normal">
					<label for="order-by-normal">출근부순</label>
					<input type="radio" id="order-by-most-plus" name="order-by" value="mostPlus">
					<label for="order-by-most-plus">가치순</label>
				</p>
				<article id="loading-article">Loading~</article>
				<div style="max-height: 1000px; overflow: scroll">
					<table class="get-grid">
						<thead>
							<tr>
								<th width="100">이름</th>
								<th width="100">플러스</th>
								<th width="40">Without</th>
								<th width="40">inside</th>
								<th width="100">순서</th>
								<th width="100">번호</th>
								<th width="180">생성일</th>
								<th width="100">수정</th>
							</tr>
						</thead>
						<tbody>
							<tr class="append-temp append-temp-normal"></tr>
						</tbody>
					</table>
					<table class="most-plus hide">
						<thead>
							<tr>
								<th width="180">이름</th>
								<th width="180">플러스</th>
								<th width="80">Without</th>
								<th width="80">inside</th>
							</tr>
						</thead>
						<tbody>
							<tr class="append-temp append-temp-most-plus"></tr>
						</tbody>
					</table>
				</div>
				<article>
					<div>					
						Total:
						<span id="grid-total-count"></span>
					</div>
					<div>
						Group by:
						<span id="group-by-count"></span>
					</div>
				</article>
				
				<h4>Delete</h4>
				<form action="/medicine/delete" method="post">
					<p>
						<input name="n" placeholder="Target" required type="number">
					</p>
					<input type="submit">
				</form>
			</section>
		</main>
		
		<th:block th:replace="fragment/common :: footer" />
	</body>
	
	<script type="text/javascript">
	const getGrid = $('table.get-grid')
	const mostPlus = $('table.most-plus')
	const colList = [
		{
			name: 'name',
			mostPlus: true
		},
		{
			name: 'plus',
			mostPlus: true
		},
		{
			name: 'ableWithout',
			type: 'checkbox',
			mostPlus: true
		},
		{
			name: 'inside',
			type: 'checkbox',
			mostPlus: true
		},
		{
			name: 'listOrder',
		},
		{
			name: 'n',
			readonly: true
		},
		{
			name: 'createdDate',
			readonly: true
		},
	]
	const temp = $('tr.append-temp-normal')
	const tempMostPlus = $('tr.append-temp-most-plus')
	
	function ajax(url, successCb, param, failCb, completeCb) {
		$.ajax({
			url: url,
			data: param,
			success: successCb,
			error: failCb,
			complete: completeCb
		})
	}
	function getCellVal(jqCell, col) {
		return col.type == 'checkbox' ? (jqCell.prop('checked') ? 1 : 0) : jqCell.val()
	}
	function hideLoading() {
		$('#loading-article').hide()
	}
	
	colList.forEach(item => {
		temp.append(item.readonly ? '<td class="' + item.name + '"></td>' : '<td class="' + item.name + '"><input type="' + item.type + '"></td>')
		if(item.mostPlus) tempMostPlus.append('<td class="' + item.name + '"></td>')
	})
	temp.append('<td class="edit-btn"><button>Edit</button></td>')
	getGrid.hide()
	mostPlus.hide()
	ajax('/medicine/get-list', res => {
		hideLoading()
		getGrid.show()
		res.forEach(item => {			
			colList.forEach(col => {
				const cell = temp.find('td.' + col.name + (col.readonly ? '' : ' > input'))
				if(col.type == 'checkbox') cell.prop('checked', item[col.name] ?? false)
				else cell[col.readonly ? 'text' : 'val'](item[col.name])
			})
			getGrid.find('tbody').append(temp.clone().removeClass('append-temp'))
		})
		temp.remove()
		getGrid.find('tbody > tr').each(function(i) {
			$(this).find('button').click(() => {
				if(confirm(res[i].name + ' Update?')) {
					const param = colList
						.filter(item => item.readonly != true)
						.reduce(
							(r, item) => Object.assign(
								r,
								{[item.name]: getCellVal($(this).find('td.' + item.name + ' > input'), item)}
							),
							{}
						)
					param.n = res[i].n
					ajax('/medicine/edit', () => {
						location.reload()
					}, param)
				}
			})
		})
	}, err => {
		console.warn('Fail: ', err)
	})
	ajax('/medicine/get-list-most-plus', res => {
		hideLoading()
		mostPlus.show()
		res.forEach(item => {			
			colList.filter(col => col.mostPlus).forEach(col => {
				const cell = tempMostPlus.find('td.' + col.name)
				if(col.type == 'checkbox') cell.text(item[col.name] ? 'Y!' : 'N').addClass(item[col.name] ? 'w3-blue' : 'w3-red')
				else cell.text(item[col.name])
			})
			mostPlus.find('tbody').append(tempMostPlus.clone().removeClass('append-temp'))
			tempMostPlus.find('td').removeClass('w3-blue').removeClass('w3-red')
		})
		tempMostPlus.remove()
	}, err => {
		console.warn('Fail: ', err)
	})
	$('input[name=order-by]').change(() => {
		($('input[name=order-by]:checked').val() == 'normal' ? getGrid : mostPlus).removeClass('hide');
		($('input[name=order-by]:checked').val() == 'normal' ? mostPlus : getGrid).addClass('hide')
	})
	</script>
</html>