<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>인덱스 템플릿</title>
		<link rel="stylesheet" href="/w3.css">
		<link rel="stylesheet" href="/common.css">
		<script src="/jq.js"></script>
		<script src="https://kit.fontawesome.com/db65e38582.js" crossorigin="a"></script>
		<style type="text/css">
		#member-info div.left {
			display: inline-block;
			width: 80px;
			text-align: right;
		}
		#member-info div.right {
			display: inline-block;
			width: 120px;
		}
		</style>
	</head>
	
	<body class="w3-light-gray">
		<th:block th:replace="fragment/common :: header" />
		
		<main class="w3-clear">
			<th:block th:replace="fragment/common :: lnb" />
			
			<section class="w3-left w3-padding">
				<h3 class="w3-teal">회원 정보</h3>
				<ul id="member-info">
					<li>
						<div class="left w3-blue w3-padding">ID</div>
						<div class="right w3-red w3-padding">Thanos</div>
					</li>
				</ul>
			</section>
		</main>
		
		<th:block th:replace="fragment/common :: footer" />
	</body>
	
	<script type="text/javascript">
	function ajax(url, successCb, param, failCb, completeCb) {
		$.ajax({
			url: url,
			data: param,
			success: successCb,
			error: failCb,
			complete: completeCb
		})
	}
	</script>
</html>