<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Send string</title>
		<link rel="stylesheet" href="/w3.css">
		<link rel="stylesheet" href="/common.css">
		<script src="/jq.js"></script>
		<script src="https://kit.fontawesome.com/db65e38582.js" crossorigin="a"></script>
	</head>
	
	<body class="w3-light-gray">
		<th:block th:replace="fragment/common :: header" />
		
		<main class="w3-clear">
			<th:block th:replace="fragment/common :: lnb" />
			
			<section class="w3-left w3-padding">
				<h3 class="w3-teal">Send string</h3>
				<form action="send-string">
					<input placeholder="서버에 전송할 문자를 입력하세요" style="width: 240px" name="msg" required>
					<input type="submit">
				</form>
				<p th:if="${msg}">서버의 메시지: [[${msg}]]</p>
			</section>
		</main>
		
		<th:block th:replace="fragment/common :: footer" />
	</body>
	
	<script type="text/javascript">
	function ajax(url, successCb, param, failCb, completeCb) {
		$.ajax({
			url: url,
			data: param,
			success: successCb,
			error: failCb,
			complete: completeCb
		})
	}
	</script>
</html>