<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>아작스로 쿠키보내기</title>
		<link rel="stylesheet" href="w3.css">
		<link rel="stylesheet" href="common.css">
		<script src="jq.js"></script>
		<script src="https://kit.fontawesome.com/db65e38582.js" crossorigin="a"></script>
		<style>
		#origin {
			width: 400px
		}
		label {
			font-size: 20px
		}
		</style>
	</head>
	
	<body class="w3-light-gray">
		<th:block th:replace="fragment/common :: header" />
		
		<main class="w3-clear">
			<th:block th:replace="fragment/common :: lnb" />
			
			<section class="w3-left w3-padding">
				<h3 class="w3-teal">아작스로 쿠키보내기</h3>
				<div>
					<input placeholder="name" required>
					<input placeholder="value" required>
					<button id="make-cookie">쿠키만들기</button>
					<br>
					<input type="radio" id="cross-origin" name="origin" checked><label for="cross-origin">Cross origin</label>
					<input type="radio" id="same-origin" name="origin"><label for="same-origin">Same origin</label>
					<br>
					<input id="origin" placeholder="origin" value="//localhost:8001/getCookieFromCrossOrigin">
					<button id="send-cookie">쿠키보내기</button>
				</div>
				<script type="text/javascript">
				$(function() {
					$('#make-cookie').click(function() {
						document.cookie = $('section input')[0].value + '=' + $('section input')[1].value
					})
					
					$('#send-cookie').click(function() {
						const url = $('#cross-origin').prop('checked') ? $('#origin').val() : '/sendCookie/send'
						$.ajax({
							url: url,
							xhrFields: {
								withCredentials: true
							},
							success: function(res) {
								console.log(res)
							},
							error: function(err) {
								console.log(err)
							},
						})
					})
					
					$('input[name=origin]').change(function() {
						$('#origin').toggle('')
					})
				})
				</script>
			</section>
		</main>
		
		<th:block th:replace="fragment/common :: footer" />
	</body>
	
	<script type="text/javascript">
	function ajax(url, successCb, param, failCb, completeCb) {
		$.ajax({
			url: url,
			data: param,
			success: successCb,
			error: failCb,
			complete: completeCb
		})
	}
	</script>
</html>