<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<header class="w3-red w3-padding" th:fragment="header">
		<h1><a href="/">헤더</a></h1>
		<div class="w3-pink" id="gnb">
			GNB
			<a class="w3-btn w3-green" href="/upload">파일 업로드</a>
			<a class="w3-btn w3-green" href="/ajax-download">아작스 다운로드</a>
			<a class="w3-btn w3-green" href="/sendCookie">아작스 쿠키 전달</a>
			<a class="w3-btn w3-green" href="/use-prop">프로퍼티 활용</a>
			<a class="w3-btn w3-green" href="/send-string">서버에 문자 전달</a>
			<a class="w3-btn w3-green" href="/medicine">삼계탕</a>
			<a class="w3-btn w3-green" href="/table-maker">태이블 생성</a>
		</div>
	</header>
	
	<footer class="w3-blue" th:fragment="footer">
		<h2>푸터</h2>
		<a href="swagger-ui.html" target="_blank">Swagger</a>
	</footer>
	
	<aside class="w3-green w3-left w3-padding" th:fragment="lnb">
		<h2>LNB</h2>
		<th:block th:if="${session.sid}">
			[[${session.sid}]] 로그인중<i class="fa fa-user"></i>
			<form action="/login/out">
				<button>로그아웃</button>
			</form>
			<form action="/login/info">
				<button>내 정보</button>
			</form>
		</th:block>
		<th:block th:unless="${session.sid}">
			<form action="login" method="post">
				<input placeholder="ID" required name="id" style="width: 100%">
				<br>
				<input placeholder="PW" required name="pw" style="width: 100%" type="password">
				<br>
				<input type="submit">
			</form>
			<button id="loginSuccessTest">정상 로그인 테스트</button>
			<button id="loginFailTest">실패 로그인 테스트</button>
			<button id="login-invalid-test">유효하지 않은 로그인 테스트</button>
			
			<script type="text/javascript">
				$('#loginSuccessTest').click(function() {
					$('form[action=login] > input[name=id]').val('test')
					$('form[action=login] > input[name=pw]').val('test')
					$('form[action=login]').submit()
				})
				$('#loginFailTest').click(function() {
					$('form[action=login] > input[name=id]').val('hh')
					$('form[action=login] > input[name=pw]').val('zz')
					$('form[action=login]').submit()
				})
				$('#login-invalid-test').click(function() {
					$('form[action=login] > input[name=id]').val('hh')
					$('form[action=login] > input[name=pw]').val(' ')
					$('form[action=login]').submit()
				})
			</script>
		</th:block>
	</aside>
</body>
</html>